__pycache__/

.vscode/

.DS_Store

*.pkl
!pretrained/*pkl
!exp/INFO*

*.log

*.txt
!requirements.txt

*.out

.ipynb_checkpoints/

*.ipynb

*.xmind

*.dep

*.sol

*.mov

*.mp4
!figs/*.mp4

*.gif
!figs/*.gif


commands*


*.lp

*.alpha

*.pg

*.POMDP

*##

runs/

logs/

.dep*

*tmp*